.account-nav { margin-top: -30px; background: #000; border-top: 3px solid transparent; }
.account-nav ul { display: table; width: 100%; margin: 0; padding: 0; }
.account-nav li { display: table-cell; margin: 0; padding: 0; list-style: none; text-align: center; }
.account-nav li + li { border-left: 1px solid #000; }
.account-nav li a { display: block; line-height: 46px; color: #fff; text-transform: uppercase; font-weight: bold; }
.account-nav li a:hover { text-decoration: none; }
.account-nav li a .icon-16 { margin-right: 4px; }
.account-nav.employer-nav { border-top-color: #19c048; }
.account-nav.employer-nav ul li a:hover, .account-nav.employer-nav ul .active a { background-color: #19c048; }
.account-nav.worker-nav { border-top-color: #d43a1b; }
.account-nav.worker-nav ul li a:hover, .account-nav.worker-nav .active a { background-color: #d43a1b; }
.account-heading { padding: 15px 20px; border-bottom: 3px solid #f7f7f7; }
.account-title h3 { margin: 0; padding: 0; }
.account-content { padding: 20px 20px 30px; margin-bottom: -30px; position: relative; min-height: 250px; }
.padding-box { padding: 15px 15%; text-align: center; }
.padding-box .padding-box { padding: 10px 100px; }
.round { width: 108px; height: 108px; display: inline-block; margin-bottom: 15px; border-radius: 50%; background-color: transparent; line-height: 108px; text-align: center; }
.round i { top: 0; }
.round-green { background-color: #19c048; }
.round-orange { background-color: #d43a1b; }
.round-border { border: 2px solid #cccccd; line-height: 106px; }
.avabox { padding: 22px 22px 18px; background: #efefef; width: 206px; margin: 35px 0 25px; text-align: center; }
.avabox.active { background-color: #d43a1b; }
.avabox .avab img { max-width: 100%; }
.avabox .avab { width: 160px; height: 188px; text-align: center; line-height: 188px; overflow: hidden; margin-bottom: 15px; }
.avabox a, .avabox .link-upload { text-transform: uppercase; font-size: 13px; }
.avabox.active a { color: #fff; }
.from-sep { height: 1px; background: #eee; margin: 30px 0; }
.border-right-form { border-right: 1px solid #eee; border-bottom: 1px solid #eee; margin: 20px 0 20px -20px; padding: 10px 20px 20px; }
.border-right-form .from-sep { margin-left: -20px; margin-right: -20px; }
.border-right-offset-y { margin-top: -20px; padding-top: 30px; border-bottom: 0; padding-bottom: 30px; margin-bottom: -30px; }
.more-field { color: #d43a1b; }
.more-field:hover { text-decoration: underline; color: #d43a1b; }
.bordered { padding: 15px; border: 1px solid #ccc; margin: 20px 0; border-radius: 4px; }
.account-user-page { padding-right: 240px; }
.account-top-panel { padding: 5px 20px 15px; border-bottom: 1px solid #e5e5e5; margin: 0 -20px; }
.account-top-info { margin-left: 144px; }
.account-top-info h1 { margin: 0; }
.account-top-info ul { padding-top: 20px; }
.account-top-info ul b { display: inline-block; width: 70px; vertical-align: middle; }
.account-user-cont { padding: 20px 0; }
.lable-tag { border: 2px solid #dbdbdb; padding: 6px 10px 4px; border-radius: 3px; color: #bfbfbf; text-transform: uppercase; font-weight: bold; display: inline-block; margin: 1px 0; }
.lable-tag-sm { font-size: 11px; padding: 4px 8px 2px; }
.right-panel { position: absolute; top: 0; right: 0; bottom: 0; width: 240px; background: #e4e4e4; text-align: center; padding: 30px 20px; }
.right-panel a { color: #2b7fbb; }
.icn { width: 66px; height: 66px; display: inline-block; background-size: 66px 66px !important; }
.icn-1 { background: url("../images/icn1.png") no-repeat; }
.icn-2 { background: url("../images/icn2.png") no-repeat; }
.icn-3 { background: url("../images/icn3.png") no-repeat; }
.icn-4 { background: url("../images/icn4.png") no-repeat; }
.icn-5 { background: url("../images/icn5.png") no-repeat; }
.field-ctrl { position: relative; }
.field-edit, .field-edit-accept, .field-save { width: 32px; height: 32px; display: inline-block; vertical-align: middle; text-align: center; line-height: 32px; background-color: #c9c9c9; border-radius: 3px; }
.field-edit-accept.orange { background: #d43a1b; }
.field-edit-accept.green { background: #18c047; }
.field-edit-accept, .field-edit { position: absolute; top: 0; right: -40px; }
.field-edit-accept { display: none; }
.copmpany-download-logo { background: #f1f1f1; border: 1px solid #e0e3e5; margin: 35px 5px 0; padding: 20px; }
.copmpany-download-logo .offsetx { padding-left: 140px; }
.ava-down-img { background: url("../images/ava-down-img.png") no-repeat; width: 120px; height: 120px; display: block; background-size: 120px 120px; float: left; margin-left: -140px; }
.add-resume-form { background: #f3f3f3; margin: 20px 50px; padding: 40px; border-radius: 3px; }
.pay-select { display: inline-block; vertical-align: middle; }
.pay-select input { display: none; }
.pay-select input + .pay-img { width: 86px; height: 48px; border: 2px solid transparent; border-radius: 6px; display: block; text-align: center; line-height: 42px; cursor: pointer; }
.pay-select input:checked + .pay-img { border-color: #000; }
.pay-icn { display: inline-block; width: 78px; height: 44px; background-size: 78px 44px !important; }
.pay-icn.ya { background: url("../images/pay/ya.png") no-repeat; }
.pay-icn.visa { background: url("../images/pay/visa.png") no-repeat; }
.pay-icn.mc { background: url("../images/pay/mc.png") no-repeat; }
.pay-icn.wm { background: url("../images/pay/wm.png") no-repeat; }
.button + .price { margin-left: 12px; font-size: 15px; }
.payform { padding-left: 10px; padding-right: 10px; }
.link-field { display: block; margin: 25px 0; background: #ffffff; padding: 12px 110px 12px 12px; border: 1px dashed #919191; position: relative; border-radius: 2px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.link-field .button { position: absolute; top: 4px; right: 4px; }
.link-field:hover { background: #f0f0f0; text-decoration: none; }
.link-field-ava { width: 119px; height: 118px; display: inline-block; position: relative; background: url("../images/plus.png") no-repeat; background-size: 119px 118px; margin-top: 20px; }
.link-field-ava b { position: absolute; top: 110%; text-align: center; width: 100%; left: 0; font-size: 16px; }
.onclick-list + .onclick-list { margin-top: 45px; }
.onclick-box { margin-top: 30px; padding-bottom: 10px; }
.onclick-box-heading, .onclick-box-top { position: relative; }
.onclick-box-heading .icon-16 { top: 0; }
.onclick-box-tags { margin-top: -18px; }
.onclick-box-title { display: inline; margin: 0; line-height: 24px; }
.onclick-box-info { margin-top: 12px; }
.onclick-box .offset { padding-left: 100px; }
.onclick-box-del { position: absolute; top: -18px; right: -5px; }
.onlclick-box-cont { margin-top: 20px; background: #f4f4f4; padding: 20px; position: relative; }
.onlclick-box-cont:after { position: absolute; top: -12px; left: -60px; width: 48px; height: 68px; border-left: 1px dotted #b5b5b5; border-bottom: 1px dotted #b5b5b5; content: ""; }
.form-pad-left { padding-left: 80px; }
.account-main { position: relative; }

@media (max-width: 767px) {
.padding-box, .padding-box .padding-box { padding: 15px 0; }
.border-right-form { border: none; margin-left: -12px; margin-right: -12px; padding-bottom: 0; margin-bottom: 0; padding-left: 12px; padding-right: 12px; }
.border-right-form .from-sep { margin-left: -12px; margin-right: -12px; }
.account-content { padding-left: 0; padding-right: 0; }
.from-sep { margin-left: -12px; margin-right: -12px; }
.add-resume-form { margin-left: 0; margin-right: 0; padding: 20px; }
.avabox { width: auto; margin-left: -12px; margin-right: -12px; }
.avabox.active { margin-left: auto; margin-right: auto; width: 206px; }
.avabox .avab { margin-left: auto; margin-right: auto; line-height: normal; height: auto; }
.payform { border-top: 1px solid #eee; padding-top: 35px; padding-left: 12px; padding-right: 12px; margin-left: -12px; margin-right: -12px; }
.account-user-page { padding-right: 0; }
.right-panel { display: none; }
.account-top-panel { margin-left: -12px; margin-right: -12px; padding-left: 0; padding-right: 0; }
.account-top-panel > .pull-left { width: 100%; text-align: center; padding-bottom: 10px; }
.account-top-info { text-align: center; margin-left: 0; }
.account-top-info ul { text-align: left; border-top: 1px solid #e5e5e5; margin-top: 25px; padding: 25px 12px 0; }
.account-nav { margin-top: 0; margin-left: -12px; margin-right: -12px; height: 43px; padding-left: 115px; position: relative; border: none; margin-bottom: 10px; }
.worker-nav { background: #d43b1e; }
.employer-nav { background: #19c048; }
.toggle-nav { width: 106px; float: left; overflow: hidden; margin-left: -115px; height: 43px; }
.toggle-nav .toggle-nav-button { width: 96px; height: 43px; background-color: #495157; position: relative; display: block; line-height: 43px; padding-left: 10px; text-decoration: none; }
.toggle-nav .toggle-nav-button:after { content: ""; position: absolute; height: 0; width: 0; border: 44px solid transparent; border-left: 20px solid #495157; left: 86px; top: 50%; margin-top: -44px; }
.toggle-nav .toggle-nav-button > b { text-transform: uppercase; font-size: 16px; vertical-align: middle; color: #fff; display: inline-block; vertical-align: middle; margin-left: 2px; }
.toggle-nav .toggle-nav-button > * { z-index: 20; position: relative; }
.toggle-nav .toggle-nav-button.open .toggle { display: none; }
.toggle-nav .toggle-nav-button .icon-close-white { display: none; }
.toggle-nav .toggle-nav-button.open .icon-close-white { display: inline-block; margin: 0 4px; }
.account-title { position: absolute; top: 0; right: 0; color: #fff; text-transform: uppercase; width: 62%; line-height: 43px; white-space: normal; overflow: hidden; text-align: right; }
.account-title h3 { font-size: 16px; display: inline; vertical-align: middle; line-height: 43px; }
.account-heading { padding: 0; border: none; }
.account-drop-menu { width: 100%; position: absolute; top: 0; left: 0; padding: 0 12px; z-index: 10; padding-top: 43px; }
.account-drop-menu ul { padding-top: 10px; display: block; }
.account-drop-menu li { display: block; text-align: left; }
.account-drop-menu li a { line-height: 42px; font-weight: bold; text-transform: uppercase; display: block; color: #fff; }
.account-drop-menu .open-toogle { line-height: 43px; display: block; text-transform: uppercase; font-size: 16px; color: #fff; font-weight: bold; }
.account-drop-menu .icon-16 { margin: 0 4px 0 0; }
.account-drop-menu li + li { border-left: none; }
.worker-nav .account-drop-menu { background-color: #d43a1b; }
.employer-nav .account-drop-menu { background-color: #18c047; }
.heading-button { width: 100%; float: none !important; padding-top: 10px; }
.heading-button .button { width: 100%; display: block; }
.from-sep { margin-top: 20px; margin-bottom: 20px; }
.onclick-box { border: 1px solid #eaeaea; border-radius: 6px; position: relative; margin-top: 20px; padding-bottom: 0; }
.onclick-box-top { padding: 10px; }
.onclick-box .offset { padding-left: 0; }
.onlclick-box-cont:after { display: none; }
.onclick-box-top > .pull-left { float: none !important; padding-bottom: 20px; }
.onclick-box-top, .onclick-box-top .text-right { text-align: center; margin-top: 5px; }
.onlclick-box-cont { margin-top: 10px; border-radius: 0 0 5px 5px; }
.onclick-brief { position: absolute; top: 10px; left: 10px; }
.onclick-box-heading, .onclick-box-top, .onclick-box-top .row, .onclick-box-top .col-sm-8 { position: static; }
.onclick-box-tags { margin-top: 14px; }
.onclick-box-del { position: absolute; top: 10px; right: 10px; }
.onclick-list + .onclick-list { margin-top: 30px; }
.copmpany-download-logo { margin-top: 10px; margin-left: 0; margin-right: 0; }
.account-user-page .button-group .button { width: 100%; margin: 1px 0; }
}

@media (max-width: 359px) {
.copmpany-download-logo .offsetx { padding-left: 0; }
.ava-down-img { float: none; margin-left: auto; margin-right: auto; margin-bottom: 20px; }
}

@media (min-width: 768px) {
.toggle-nav { display: none; }
.account-drop-menu { display: block; height: 46px !important; }
#delete-confirm h1 { font-size: 28px; }
#delete-confirm .btn-group .button { margin: 0 15px; }
.account-nav { border-radius: 4px 4px 0 0; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
.icn-1 { background-image: url("../images/@2X/icn1.png"); }
.icn-2 { background-image: url("../images/@2X/icn2.png"); }
.icn-3 { background-image: url("../images/@2X/icn3.png"); }
.icn-4 { background-image: url("../images/@2X/icn4.png"); }
.icn-5 { background-image: url("../images/@2X/icn5.png"); }
.pay-icn.ya { background-image: url("../images/@2X/pay/ya.png"); }
.pay-icn.visa { background-image: url("../images/@2X/pay/visa.png"); }
.pay-icn.mc { background-image: url("../images/@2X/pay/mc.png"); }
.pay-icn.wm { background-image: url("../images/@2X/pay/wm.png"); }
.link-field-ava { background-image: url("../images/@2X/plus.png"); }
.ava-down-img { background-image: url("../images/@2X/ava-down-img.png"); }
}
