<div class="toggle-nav">
  <a class="toggle-nav-button no-collapse" data-toggle="collapse" href="#navcollaps" data-parent="#sel" aria-expanded="false" aria-controls="navcollaps">
    <span class="toggle toggle-invert">
      <i class="toggle-line"></i>
      <i class="toggle-line"></i>
      <i class="toggle-line"></i>
    </span>
    <i class="icon-16 icon-close-white"></i>
    <b>{{ 'menu.menu'|trans }}</b>
  </a>
</div>