{% extends 'base.html.twig' %}

{% block userblock %}
  <div class="account-main" id="sel">
    <nav class="account-nav worker-nav">
      
      {% include '_menu_mobile.html.twig' %}
      
      <div class="account-drop-menu collapse" id="navcollaps">
        
        {% include 'employee_profile_menu.html.twig' %}

      </div>
    </nav>
    <div class="account-heading">
      <div class="account-title"> <span class="xs-show"><i class="icon-16 icon-list-white"></i></span>
        <h3>{{ 'user.menu.resume'|trans }}</h3>
      </div>
    </div>
  </div>
  <div class="account-content">
    <div class="padding-box">
      <div class="padding-box">
        <div class="round round-orange"> <i class="icon-32 icon-listplus"></i> </div>
        <div class="h2 bottom-md">{{ 'user.data.resume_empty'|trans }}</div>
        <a href="{{ path('fe_employee_resume_new') }}" class="button button-invert button-lg">{{ 'user.data.add_resume2'|trans }}</a> </div>
      <hr class="margin-top-lg">

    </div>
  </div>
{% endblock %}