{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="email-confirm">
	  <div class="container"> <i class="img-confirm"></i>
	    <p>{{ 'user.signup.finish'|trans }}</p>
	  </div>
	</div>
{% endblock fos_user_content %}