.vacancy-data{
    background-color: #ffffff;
}

.vacancy-data{
    background-color: #ffffff;
    padding: 15px 0px 30px 20px;
}

.vacancy-show-title , .vacancy-show-company , .vacancy-show-city , .vacancy-show-term , .vacancy-show-created , .vacancy-show-salary , .vacancy-show-require , .vacancy-show-condition{

}