@font-face {
    font-family: "HelveticaThin";
    src: url("/bundles/onedayjobfrontend/fonts/HelveticaThin/HelveticaThin.eot");
    src: url("/bundles/onedayjobfrontend/fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("/bundles/onedayjobfrontend/fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("/bundles/onedayjobfrontend/fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    background-image: none;
    background-color: #e6e6e6;
}

.resume-open-top{
    margin-top: 62px;
    padding: 10px 0px 5px 0px;
    /*text-align: center;*/
}

.resume-open-top-text{
    font-family: "HelveticaThin";
    font-size: 20px;
}

.resume-data{
    background-color: #ffffff;
    padding: 15px 0px 30px 20px;
}

.resume-open-top  .col-sm-1 > span > a{
    font-family: "HelveticaThin";
    text-align: left;
    padding-left: 0px;
    font-size: 17px;
    padding-top: 5px;
    color: #000000;
    text-decoration: none;
}

.resume-main-data{

}

.resume-open-img > img{
    width: 100%;
}

.resume-open-fullname , .resume-open-specialization , .resume-open-salary{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}

.resume-open-term > span >span{
    font-weight: bolder;
}

.resume-open-locale , .resume-open-age , .resume-open-sex , .resume-open-phone , .resume-open-skype , .resume-open-email , .resume-open-term-project{
    margin-bottom: 7px;
    font-family: "HelveticaThin";
    font-size: 13px;
}

.resume-open-term-date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
}

.resume-open-headline{
    font-size: 20px;
    font-weight: bold;
}

.resume-open-respond{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.resume-open-fullname > img ,.resume-open-email > img , .resume-open-skype > img{
    padding-left: 2px;
}

.resume-open-locale > img{
    padding-left: 5px;
}

.resume-open-age > img{
    padding-left: 6px;
}

.resume-open-phone > img , .resume-open-term-img , .resume-open-salary > img{
    padding-left: 3px;
}

.resume-open-fullname > span ,.resume-open-email > span , .resume-open-skype > span{
    padding-left: 12px;
}

.resume-open-locale > span{
    padding-left: 15px;
}

.resume-open-age > span{
    padding-left: 16px;
}

.resume-open-phone > span , .resume-open-term-project , .resume-open-term-date , .resume-open-salary > span{
    padding-left: 13px;
}

.resume-open-specialization > span , .resume-open-sex > span{
    padding-left: 10px;
}

.resume-open-headline > img{
    padding-right: 13px;
}

.resume-open-similar{
    margin-top: 40px;
}

.resume-open-similar > h2{
    font-family: "HelveticaThin";
}

.resume-open-add-to-favorites{
    float: right;
    font-size: 13px;
    font-weight: normal;
    font-family: "HelveticaThin";
    margin-right: 10px;
}

.resume-open-add-to-favorites > img{
    padding-bottom: 10px;
    padding-left: 3px;
}

.header-form-select , #header-search-line , #header-form-calendar-div , #header-form-button-div{
    display: block;
}