{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="email-confirm">
	  <div class="container"> <i class="img-confirm"></i>
	    <p>{{ 'resetting.password_already_requested'|trans }}</p>
	  </div>
	</div>
{% endblock fos_user_content %}