/* GENERAL */
.header .pull-right a {
	margin-left: 10px;
}
.actions {
	margin-top: 30px;
}
.actions input {
	margin-right: 10px;
}
.table tbody tr:first-child {
	border-top: 0 none;
}
.table tbody tr:first-child td {
	border-top: 0 none;
}
.table i.icon-reply {
	margin-right: 6px;
	color: #666;
}
.table .dir {
	margin-right: 6px;
	margin-top: -4px;
}
.wysiwyg {
	padding: 0;
}
.redactor, .redactor .span9 {
	margin: 0;
}
.new-user .form-wrapper .dropzone {
	margin-left: 0px;
}
#no-photo {
	margin-top: 20px;
}
.products a {
	text-decoration: none;
}

.products .folder-parent a {
	color: #666;
}
.products .bull {
	color: #CCC;
	letter-spacing: 17px;
}
.products .settings {
	color: #999;
	margin-right: 9px;
}
.products .icon-play {
	font-size: 9px;
	margin: 0 5px;
}
.products .products-navigation {
	background: #f5fafc;
}
.products .products-navigation .raquo {
	padding: 0 5px;
}
.products .products-navigation a:hover {
	color: #000;
}

.image-upload-container {
	margin: 0;
	padding: 0;
	float: left;
	overflow: auto;
}
.image-container {
	width: 100px;
	height: 100px;
	border: solid 1px #DBDBDB;
	float: left;
	margin: 0 10px 10px 0;
	background-color: #DBDBDB;
	position: relative;
}
.image-container .loading {
	width: 16px;
	height: 11px;
	display: block;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -8px;
	background: url("../img/loader.gif") no-repeat;
	position: absolute;
}
.image-container .remove {
	display: none;
	text-decoration: none;
	position: absolute;
	width: 100px;
	height: 100px;
	background: rgba(255,255,255,0.8);
	cursor: pointer;
}
.image-container .remove i {
	color: #999;
	position: absolute;
	font-size: 30px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -12px;
	padding: 0;
}

a.image-upload-button {
	width: 98px;
	height: 98px;
	display: block;
	border: dashed 2px #DBDBDB;
	position: relative;
	text-decoration: none;
	color: #DBDBDB;
	float: left;
}
a.image-upload-button:hover {
	border: dashed 2px #B3B3B3;
	color: #B3B3B3;
}
a.image-upload-button i {
	position: absolute;
	font-size: 30px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -12px;
	padding: 0;
}



/* STATISTICS */
#main-stats {
	margin-left: -20px;
	margin-right: -20px;
	background-color: #fdfdfd;
	border-bottom: 1px solid #efeef3;
}
#main-stats .stats-row {
	box-shadow: inset -1px 0px 5px 2px #f9f9f9;
}
#main-stats .stat {
	text-align: right;
	padding: 30px 0px 35px 0px;
	border-right: 1px solid #e8e9ee;
	position: relative;
	box-shadow: 1px 0px 0px 0px white;
}
#main-stats .stat.last {
	border-right: 0px;
}
#main-stats .stat .data {
	color: #29323a;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding-right: 50px;
}
#main-stats .stat .data .number {
	color: #32a0ee;
	font-size: 25px;
	margin-right: 15px;	
}
#main-stats .stat .date {
	color: rgb(180, 184, 187);
	font-weight: lighter;
	font-family:  'Lato', 'Open Sans';
	font-style: italic;
	font-size: 13px;
	position: absolute;
	right: 50px;
}
#statsChart {
	width: 97%;
	height: 250px;
	margin-top: 35px;
}
/* specific chart styles */
.legendLabel {
	font-size: 12px;
	font-family: "Open Sans", Arial;
	color: #9da3a9
}

.section {
	border-top: 1px solid #edeff1;
	margin-top: 100px;
	padding-top: 45px;
	box-shadow: inset 0px 3px 4px -1px #fafafa;
}


/* USERS LIST */
.users-list .header input.search {
	padding: 5px 6px;
	position: relative;
	top: 2px;
}
.users-list .header input.search:focus {
	box-shadow: none;
	border: 1px solid #888;
}
.users-list .header .ui-select{
	margin: 3px 40px 0 0;
}
.users-list .header a.btn-flat span{
	font-size: 17px;
	position: relative;
	top: 2px;
	margin-right: 4px;
}
.users-list .header .ui-dropdown {
	margin-left: 20px;
}
.users-list .table td {
	vertical-align: middle;
	font-size: 13px;
}
.users-list .table img.avatar {
	float: left;
	margin-right: 14px;
	max-width: 45px;
	position: relative;
	top: 8px;
	margin-bottom: 15px;
}
.users-list .table a.name{
	color: #3389d1;
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin: 12px 0 0 0;
}
.users-list .table .subtext {
	font-size: 12px;
	color: #778391;
	font-style: italic;
}
.users-list .pagination {
	margin-top: 25px;
}



/* NEW USER */
.new-user .form-wrapper .with-sidebar{
	border-right: 1px solid #edeef1;
	box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
}
.new-user .form-wrapper .container{
	width: 90%;
	float: left;
}
.new-user .form-wrapper .field-box{
	margin-bottom: 25px;
	margin-left: 0;
	float: left;
	width: 100%;
}
.new-user .form-wrapper label{
	display: inline-block;
	float: left;
	font-weight: 600;
	font-size: 13px;
	cursor: auto;
	width: 170px;
}
.new-user .form-wrapper input[type="text"]{
	margin: 0;
	padding: 3px 6px;
}
.new-user .form-wrapper .address-fields {
	margin-left: 0px;
	float: left;
	width: 75%;
}
.new-user .form-wrapper input.small{
	width: 30%;
	margin-top: 20px;
	margin-right: 20px;
}
.new-user .form-wrapper input.last{
	margin-right: 0;
}
.new-user .form-wrapper input:-moz-placeholder{
	font-style: italic;
}
.new-user .form-wrapper input:-ms-input-placeholder{
	font-style: italic;
}
.new-user .form-wrapper input::-webkit-input-placeholder{
	font-style: italic;
}
.new-user .form-wrapper textarea{
	height: 88px;
}
.new-user .textarea{
	margin-top: 27px;
}
.new-user .textarea span.charactersleft{
	display: block;
	color: #9ba0a5;
	text-align: left;
	margin-left: 18%;
	font-size: 13px;
	font-style: italic;
}
.new-user .form-sidebar .alert {
	margin: 20px 0px 60px 0px;
}
.new-user .form-sidebar .alert i {
	margin-bottom: 40px;
}
.new-user .form-sidebar h6{
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0;
}
.new-user .form-sidebar p{
	color: #777e86;
}
.new-user .form-sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.new-user .form-sidebar ul a{
	text-decoration: underline;
}



/* FORM SHOWCASE */
.form-page .form-wrapper {
	margin-bottom: 40px;
}
.form-wrapper .field-box{
	margin-bottom: 30px;
	margin-left: 0;
	float: left;
	width: 100%;
}
.field-box .tip {
	padding-left: 170px;
	margin-top: -5px;
	font-style: italic;
}
.form-wrapper label{
	display: inline-block;
	float: left;
	font-weight: 600;
	cursor: auto;
	font-size: 12px;
	width: 170px;
	text-align: left;
}
.form-wrapper input:-moz-placeholder{font-style: italic;}
.form-wrapper input:-ms-input-placeholder{font-style: italic;}
.form-wrapper input::-webkit-input-placeholder{font-style: italic;}

.form-wrapper .predefined {
	position: relative;
}
.form-wrapper .predefined input {	
	padding-left: 40px;
}
.form-wrapper .predefined .value {
	position: absolute;
	top: 6px;
}
.form-wrapper label.checkbox {
	cursor: pointer;
	color: #555;
}
.form-wrapper label.radio {
	position: relative;
	left: -20px;
	width: 100%;
	cursor: pointer;
	color: #555;
}
.form-wrapper label.checkbox,
.form-wrapper label.radio {
	padding-left: 0px;
	font-weight: lighter;
}
.form-wrapper label.checkbox input[type="checkbox"],
.form-wrapper label.checkbox input[type="radio"] {
	font-size: large;
	margin-left: 0px;
}
.form-wrapper .wysi-column {
	float: left;
	width: 75%;
}
.form-wrapper .column.pull-right label {
	display: block;
	width: 100%;
}
.form-wrapper .column.pull-right .ui-select {
	width: 250px;
}
.form-wrapper .select2-container {
	margin-left: 0px;
}

.unread {
	font-weight: 700;
}
.message p.span8 {
	margin-bottom: 40px;
}
.message blockquote {
	margin: 0 0 40px 0;
	border: none;
	padding: 0px;
}


/* SIGN IN */
.login-bg {
	background: url("../img/bgs/landscape.jpg") no-repeat center center fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale')";
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.login-wrapper{
	position: absolute;
	top: 90px;
	text-align: center;
}
.login-wrapper .alert-danger{
	margin-bottom: 20px;
	border-radius: 2px;
	padding: 5px 0;
}
.login-wrapper .logo{
	margin-bottom: 45px;
	position: relative;
	left: -2px;
}
.login-wrapper .box{
	margin: 0 auto;
	padding: 35px 0 30px;
	float: none;
	width: 400px;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.65);
}
.login-wrapper .box .content-wrap{
	width: 82%;
	margin: 0 auto;
}
.login-wrapper .box h6{
	text-transform: uppercase;
	margin: 0 0 30px 0;
	font-size: 18px;
	font-weight: 600;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"]{
	font-size: 15px;
	height: 40px;
	margin-bottom: 18px;
	border-color: #b2bfc7;
	padding-left: 12px;
}
.login-wrapper .box input[type="password"]{
	margin-bottom: 10px;
}
.login-wrapper .box input:-moz-placeholder {
	color: rgb(155, 168, 182);
	font-size: 15px;
	letter-spacing: 0px;
	font-style: italic;
}
.login-wrapper .box input:-ms-input-placeholder{
	color: rgb(155, 168, 182);
	font-style: italic;
	letter-spacing: 0px;
	font-size: 15px;
}
.login-wrapper .box input::-webkit-input-placeholder{
	color: rgb(155, 168, 182);
	font-style: italic;
	letter-spacing: 0px;
	font-size: 15px;
}
.login-wrapper .box a.forgot{
	display: block;
	text-align: center;
	text-decoration: underline;
	color: #3d88ba;
	font-size: 13px;
	margin-top: 20px;
}
.login-wrapper .box a.forgot:hover{
	color: #000;
}
.login-wrapper .box .login {
	text-transform: uppercase;
	font-size: 13px;
	padding: 8px 30px;
	margin-top: 20px;
}
.login-wrapper .no-account{
	margin: 0 auto;
	float: none;
	text-align: center;
	font-size: 14px;
	margin-top: 25px;
}
.login-wrapper .no-account p{
	display: inline-block;
	color: rgb(170, 170, 170);
}
.login-wrapper .no-account a{
	color: rgb(170, 170, 170);
	margin-left: 7px;
	border-bottom: 1px solid;
	transition: all .1s linear;
	-moz-transition: all .1s linear; /* Firefox 4 */
	-webkit-transition: all .1s linear; /* Safari and Chrome */
	-o-transition: all .1s linear;  /* Opera */
}
.login-wrapper .no-account a:hover{
	text-decoration: none;
	color: #fff;
	border-bottom-color: #fff;
}
.button-edit .icon-pencil {
	margin: 0;
}
.folder {
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 5px;
}
.selectize-tag {
	float: left;
	width: 65.8%;
}
.selectize-select {
	float: left;
	width: 65.8%;
}
.currency-box {
	/*background-color: #CCC;*/
}
.currency-box .title {
	width: 170px;
	float: left;
	font-weight: 600;
}
.currency-box .fields {
	float: left;
}
.currency-box .wrapper {
	margin-bottom: 20px;
	background:#EDF1F2; 
	padding: 10px 15px 15px 15px;
	border-radius: 6px;
}
.currency-box div label {
	display: none;
	float: none;
}
.currency-box .fields label {
	margin: 10px 0 0 0;
	display: block;
}
.currency-box .fields label:first {
	margin-top: 0;
}
.currency-box .fields .fields-wrapper {
	display: block;
}
.currency-box div input {
	margin-bottom: 0px;
}
.currency-box .btn {
	margin-top: 20px;
}